nav class="navbar" style="background-color:#0288D1;">
  <%= link_to root_path do %>
  <div class="navbar-brand m-0" style="background-color:#0288D1;">
    <%= image_tag "WhiskyTimes.png", :size =>'180x80' %>
  </div>
  <% end %>
</nav>



<nav class="navbar navbar-expand-md navbar-light " style="background-color:#03A9F4;">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'ホーム', root_path, :style=>"color:#333333;" %></span>
      </li>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'About', home_about_path, :style=>"color:#333333;" %></span>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'マイページ', user_path(current_user.id), :style=>"color:#333333;" %></span>
      </li>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to "お気に入り", clips_path(current_user.id), :style=>"color:#333333;" %></span>
      </li>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to '新規投稿', new_review_path, :style=>"color:#333333;" %></span>
      </li>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'ログアウト', destroy_user_session_path, data: { confirm: "よろしいですか?" }, method: :delete, :style=>"color:#333333;" %></span>
      </li>
      <% else %>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to '新規登録', new_user_registration_path, :style=>"color:#333333;" %></span>
      </li>
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'ログイン', new_user_session_path, :style=>"color:#333333;" %></span>
      </li>
      <% end %>
    </ul>
  </div>
</nav>